.main-content {
    display:flex;
    position: relative;
    top:10px;
    width:auto;
    padding:20px;
    margin:auto;
    justify-content: space-around;


}


.list-content {
    border:1px solid burlywood;
    border-radius: 4px;
    padding:10px;
    min-width: 200px;
    max-width:500px;
}

.ouput-content {
    border:1px solid block;
    border-radius: 4px;
    min-width:250px;
}