<p> {{todayDate}}</p>
<p *ngIf="dataFromChild !== undefined">{{dataFromChild.values}} == {{dataFromChild.time}}</p>
<div class="main-content">
      <app-form-element (sendItems)="getItemsFromFormComponent($event)" *appCustomStruct="disable"></app-form-element>
   <div class="list-content">
      <app-form-list 
         *ngIf="items !== undefined"
         [itemList] = "items" 
         (modifiedItem) = "getItem($event)">
      </app-form-list>
   </div>
   <div class="output-content">
      <app-output-capture  #outputCapture></app-output-capture>
   </div>
</div>