.item-content {
    cursor: pointer;
    height:auto;
    font-size: 1.1rem;
    background-color:ghostwhite;
    width:auto;
    padding:10px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 1px 1px black;
}

.item-text {

    padding-top:15px;
}

