.item-content {

    cursor: pointer;
    height:auto;
    font-size: 1.1rem;
    background-color:ghostwhite;
    width:auto;
    padding:10px;
    text-align: center;
    vertical-align: middle;
    
}

.item-text {

    padding-top:15px;
}

