input {
    height:40px;
    margin:10px;
    border-radius: 4px;
    font-size:1.2rem;
}

button {
    height:40px;
    border-radius: 4px;
    font-size:1.2rem;
    width:auto;
    text-align: center;
    padding-top:5px;
}